$font-family-default: 'Josefin Sans';
$font-family-aleo: 'Aleo', serif;


$font-bxromaon-title-weight: 700;
$font-bxromaon-tegline-weight: 400;
$font-bxromaon-input-search-weight: 400;
$font-why-text-weight: 400;

$font-bxromaon-title-size: 48px;
$font-bxromaon-tegline-size: 22px;
$font-bxromaon-search-size: 14px;
$font-bxromaon-scroll-size: 14px;
$font-bxromaon-footer-size: 14px;
$font-bxromaon-logo-size: 24px;
$font-why-title-size: 36px;
$font-why-text-size: 16px;
$font-spain-size: 20px;


$color-white: #ffffff;
$color-input-search-grey: #999999;
$color-bleu: #5474fd;
$color-dark-white: #e8e8e8;
$color-dark-grey: #333333;
$color-opacity-grey: #232323

